body {
    font-family: "Comic Sans MS";}

h1 {
    color: blue;}

.columns {
Width: 100%;
}
.column-1, .column-2, .column-3 {
  width:100%;
}
@media (min-width: 100em) {
  .column-1 {
    width: 15%;
    float:left;
  }
  .column-2 {
    width: 5%;
    float:left;
  }
  .column-3 {
    width: 80%;
    float:left;
  }
  .columns {
    content:"";
    display: table;
    clear: all;
  }
}
