body {
    font-family: "Comic Sans MS";}

h1 {
    color: blue;}

.item1 {
    grid-area: header;
    text-align: center;
}

.item2 {
    grid-area: menu;
    background-color: rgba(0, 0, 255, 0.1);
    text-align: left;
}

.item3 {
    grid-area: main;
    text-align: left;
}

.item4 {
    grid-area: right;
    text-align: right;
}

.item5 {
    grid-area: footer;
    text-align: center;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'footer footer footer footer footer footer';
  gap: 10px;
  padding: 10px;
}

.grid-container > div {
  padding: 10px;
  font-size: 30px;
}
